{% extends "layouts/main-with-service-navigation.njk" %}

{% set pageName= "Navigation Item " + data.navItem if data.navItem != "undefined" or "Service Navigation Example" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Making new layouts: Service navigation
    </h1>
    
    <p>This is a fresh install, but first check you are on <a href="https://www.npmjs.com/package/govuk-frontend">5.6.0 of govuk frontend</a>.</p>

    <h2 class="govuk-heading-m">1. First make a new layout</h2>
   
    <p>First for this I have made file at  /layouts/main-with-service-navigation.njk</p>
    
    <p>We can use the {% raw %}{% header %}{% endraw %} block to add the new components.</p>

    <h2 class="govuk-heading-m">2. Update the header</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        Remove the service name
      </li>
      <li>
          Apply a class govuk-header--full-width-border to the GOV.UK header. (use classes)
      </li>
    </ul>

    <h2 class="govuk-heading-m">3. Extend with the service navigation</h2>
   
    <ul class="govuk-list govuk-list--bullet">
      <li>
        Add example service navigation item
      </li>
      <li>
          use url params "navItem" for state and add a selected param
      </li>
    </ul>

    <h2 class="govuk-heading-m">Links:</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="https://design-system.service.gov.uk/styles/page-template/">Page Template</a>
      </li>
      <li>
        <a href="https://design-system.service.gov.uk/components/header/">GOV.UK header</a>
      </li>
      <li>
        <a href="https://design-system.service.gov.uk/components/phase-banner/">Phase banner</a>
      </li>
      <li>
        <a href="https://design-system.service.gov.uk/components/service-navigation/">Service navigation component</a>
      </li>
    </ul>

  </div>
</div>

{% endblock %}
