{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}


{% block header %}
{{ 
    govukHeader({
        homepageUrl: "/",
        serviceUrl: "/",
        classes: "govuk-header--full-width-border"
    })
}}

{{ 
    govukServiceNavigation({
        serviceName: serviceName,
        serviceUrl: "/",
        navigation: [
            {
            href: "/example/service-navigation?navItem=1",
            text: "Navigation item 1",
            active: true if data.navItem == 1
            },
            {
            href: "/example/service-navigation?navItem=2",
            text: "Navigation item 2",
            active: true if data.navItem == 2
            },
            {
            href: "/example/service-navigation?navItem=3",
            text: "Navigation item 3",
            active: true if data.navItem == 3
            }
        ]
        })
}}
<div class="govuk-width-container">
{{ 
    govukPhaseBanner({
        tag: {
            text: "Alpha"
        },
        html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.'
        })
}}

{{ 
    govukBackLink({
        text: "Back",
        href: "/"
    })
}}
</div>

{% endblock %}